@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: white;
  font-family: "Montserrat", sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: teal;
}

main {
  flex: 1 1 0;
}

.container {
  padding: 0 15px;
  max-width: 768px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: underline;
}

.input {
  border: none;
  outline: none;
}
.input::-moz-placeholder {
  color: #757575;
}
.input::placeholder {
  color: #757575;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header-btn {
  position: relative;
  width: 21px;
  height: 8px;
}
.header-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  border-radius: 5px;
}
.header-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  border-radius: 5px;
}
.header-logo {
  max-width: 130px;
}
.header-circle {
  width: 28px;
  height: 28px;
  background: white;
  border-radius: 50%;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.footer {
  padding: 30px 0;
  color: black;
  text-align: center;
  font-size: 12px;
}
.footer-wrapper {
  background: white;
}
.footer-logo {
  margin: 0 auto 30px;
  max-width: 202px;
}
.footer-list {
  display: block;
  margin-bottom: 30px !important;
}
.footer-list__item {
  margin-bottom: 10px;
}
.footer-list__item:last-child {
  margin: 0;
}
.footer-terms {
  margin-bottom: 30px;
}
.footer-socials {
  display: block;
  margin-bottom: 30px !important;
}
.footer-socials__item {
  margin-bottom: 10px;
}
.footer-socials__item:last-child {
  margin: 0;
}
.footer-input {
  width: 80%;
  max-width: 375px;
  margin: 0 auto;
  text-align: left;
}
.footer-input__content {
  margin: 5px 0 30px;
  border-bottom: 1px solid black;
  font-size: 15px;
}
.footer-input__content input {
  width: 100%;
  padding: 10px 0;
}
.footer-input__copyright {
  text-align: center;
  color: #9E9E9E;
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer-logo {
    margin: 115px auto 85px;
  }
  .footer-links {
    display: flex;
    align-items: stretch;
  }
  .footer-links__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer-list {
    margin: 0 30px 0 0 !important;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer-socials {
    margin: 0 30px 0 0 !important;
  }
  .footer-input {
    width: 30%;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .footer {
    font-size: 13px;
  }
  .footer-logo {
    max-width: 490px;
  }
}