@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body.lock {
  overflow: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: teal;
}

main {
  flex: 1 1 0;
}

.container {
  padding: 0 15px;
  max-width: 768px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}

a {
  text-decoration: underline;
  text-decoration-color: transparent;
  color: inherit;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration-color: white;
}

.input {
  border: none;
  outline: none;
}
.input::-moz-placeholder {
  color: #757575;
}
.input::placeholder {
  color: #757575;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-weight: 500;
}
.header-wrapper {
  position: sticky;
  z-index: 20;
  top: 0;
}
.header-btn {
  position: relative;
  width: 21px;
  height: 21px;
  cursor: pointer;
  z-index: 21;
}
.header-btn:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  border-radius: 5px;
  transform: rotate(0);
  transition: all 0.3s ease;
}
.header-btn:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  border-radius: 5px;
  transform: rotate(0);
  transition: all 0.3s ease;
}
.header-btn.active:before {
  top: 10px;
  transform: rotate(-45deg);
}
.header-btn.active:after {
  bottom: 10px;
  transform: rotate(45deg);
}
.header-logo {
  max-width: 130px;
}
.header-list {
  font-family: "Cormorant";
  display: block;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.header-list__wrapper {
  position: fixed;
  top: 0;
  background: rgba(66, 66, 66, 0.65);
  z-index: 20;
  left: 0;
  width: 100%;
  padding: 100px 0 0;
  height: 100vh;
  transform: translateY(-120%);
  transition: all 0.3s ease;
}
.header-list__wrapper .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header-list__wrapper.active {
  transform: translateY(0);
}
.header-list__item {
  display: block;
  width: 100%;
  text-align: center;
}
.header-list__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: block;
  margin-bottom: 20px;
}
.header-list-2lvl {
  text-align: left;
  margin-bottom: 20px;
}
.header-list-2lvl__item-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 10px 0;
}
.header-list-3lvl__item {
  display: block;
  margin-bottom: 6px;
}
.header-list__content {
  display: flex;
  background: #434343;
  margin: 0 -15px !important;
  padding: 20px 15px 50px !important;
  border-top: 1px solid white;
}
.header-list__content-item {
  margin-right: 30px;
}
.header-basket {
  display: flex;
}
.header-basket__text {
  display: none;
  margin-right: 30px;
}
.header-basket__content {
  width: 28px;
  height: 28px;
  background: white;
  border-radius: 50%;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

@media (min-width: 768px) {
  .header-logo {
    max-width: 202px;
  }
}
@media (min-width: 1200px) {
  .header {
    position: relative;
    padding: 60px 0;
  }
  .header-btn {
    display: none;
  }
  .header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 22;
  }
  .header-list {
    display: flex;
    font-family: inherit;
  }
  .header-list-2lvl {
    transform: translateY(-100%);
    font-family: Cormorant;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    min-height: 300px;
    overflow-y: auto;
    padding: 120px 30% 40px;
    background: rgba(66, 66, 66, 0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 25;
  }
  .header-list__item {
    margin-right: 30px;
  }
  .header-list__item-title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: inherit;
  }
  .header-list__item:hover .header-list-2lvl {
    transform: translate(0);
  }
  .header-list__wrapper {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
    background: transparent;
    padding-top: 0;
    z-index: auto;
  }
  .header-list__wrapper .container {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header-list__content {
    display: flex;
    background: transparent;
    padding: 0 !important;
    border-top: none;
  }
  .header-list__content-item {
    margin-right: 30px;
  }
  .header-basket {
    padding-top: 4px;
  }
  .header-basket__text {
    display: block;
  }
}
.footer {
  padding: 30px 0;
  color: black;
  text-align: center;
  font-size: 12px;
}
.footer a:hover {
  text-decoration-color: black;
}
.footer-wrapper {
  background: white;
}
.footer-logo {
  margin: 0 auto 30px;
  max-width: 202px;
}
.footer-list {
  display: block;
  margin-bottom: 30px !important;
}
.footer-list__item {
  margin-bottom: 10px;
}
.footer-list__item:last-child {
  margin: 0;
}
.footer-terms {
  margin-bottom: 30px;
}
.footer-socials {
  display: block;
  margin-bottom: 30px !important;
}
.footer-socials__item {
  margin-bottom: 10px;
}
.footer-socials__item:last-child {
  margin: 0;
}
.footer-input {
  width: 80%;
  max-width: 375px;
  margin: 0 auto;
  text-align: left;
}
.footer-input__content {
  margin: 5px 0 30px;
  border-bottom: 1px solid black;
  font-size: 15px;
}
.footer-input__content input {
  width: 100%;
  padding: 10px 0;
}
.footer-input__copyright {
  text-align: center;
  color: #9E9E9E;
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer-logo {
    margin: 115px auto 85px;
  }
  .footer-links {
    display: flex;
    align-items: stretch;
  }
  .footer-links__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer-list {
    margin: 0 30px 0 0 !important;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer-socials {
    margin: 0 30px 0 0 !important;
  }
  .footer-input {
    width: 30%;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .footer {
    font-size: 13px;
  }
  .footer-logo {
    max-width: 490px;
  }
}